.go-back-button {
  margin: 10px;
}

.movie-container {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(85, 84, 84);
}

.movie-image-container {
  margin-right: 15px;
}

.movie-name {
  margin-left: 0;
}

.information-container {
  padding: 10px;
  border-bottom: 2px solid rgb(85, 84, 84);
}

.information-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.information-link {
  display: block;
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
